<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO_APP_VISION_VISUAL_STUDIO</title>

    <environment include="Development">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" /> -->
        <link rel="stylesheet" href="~/css/estilos.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css">
        <script src="~/js/jquery-3.3.1.js"></script>
        <script src="~/js/menu-responsive.js"></script>
        <script src="~/js/user-responsive.js"></script>
        <script src="~/js/form-toggle.js"></script>
        <script type="text/javascript" >
            $(document).ready(function(){
                alert("The paragraph was clicked.");
                $('#cboIdPab').change(function() {
                    SeleccionandoCombo(this,'cboIdAula');
                });
                
                function SeleccionandoCombo(comboPab, comboAula) {
                    comboAula = document.getElementById(comboAula);
                    LimpiarCombo(comboAula);
                    if (comboPab.options[comboPab.selectedIndex].value != "") {
                        comboAula.disabled = true;
                        $.ajax({
                            url: 'servletconferencia2.do',
                            type: 'get',
                            dataType: 'json',
                            data: (valor : comboPab.options[comboPab.selectedIndex].value),
                            success:function (resultado){
                                var myObject = eval('(' + resultado + ')');
                                LlenarCombo(myObject, comboAula);
                                comboPab.disabled = false;
                                comboAula.disabled = false;
                            }
                        });
                    }
                }
                
                function LimpiarCombo(combo){
                    while(combo.length > 0) {
                        combo.remove(combo.length-1);
                    }
                }
                
                function LlenarCombo(json, combo) {
                    combo.options[0] = new Option('Selecciona un aula',' ');
                    for(var i=0; i<json.length ; i++){
                        combo.options[combo.length] = new Option(json[i].descaula, json[i].idaula);
                    }
                }

                // Desplegar formulario

                
            });
        </script>
        <script>

            // Letras

            function soloLetras(e) {
                key = e.keyCode || e.which;
                tecla = String.fromCharCode(key).toLowerCase();
                letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
                especiales = [8, 37, 39, 46];

                tecla_especial = false
                for(var i in especiales) {
                    if(key == especiales[i]) {
                        tecla_especial = true;
                        break;
                    }
                }

                if(letras.indexOf(tecla) == -1 && !tecla_especial)
                    return false;
            }

            function limpia() {
                var val = document.getElementById("letras").value;
                var tam = val.length;
                for(i = 0; i < tam; i++) {
                    if(!isNaN(val[i]))
                        document.getElementById("letras").value = '';
                }
            }

        </script>
        <script>

            // Números

            function soloNumeros(e) {
                key = e.keyCode || e.which;
                tecla = String.fromCharCode(key).toLowerCase();
                numeros = " 0123456789";
                especiales = [8, 37, 39, 46];

                tecla_especial = false
                for(var i in especiales) {
                    if(key == especiales[i]) {
                        tecla_especial = true;
                        break;
                    }
                }

                if(numeros.indexOf(tecla) == -1 && !tecla_especial)
                    return false;
            }

            function limpiaNumeros() {
                var val = document.getElementById("numeros").value;
                var tam = val.length;
                for(i = 0; i < tam; i++) {
                    if(!isNaN(val[i]))
                        document.getElementById("numeros").value = '';
                }
            }

        </script>
        <script>
            // Números

            function soloNumeros(e) {
                key = e.keyCode || e.which;
                tecla = String.fromCharCode(key).toLowerCase();
                numeros = " 0123456789";
                especiales = [8, 37, 39, 46];

                tecla_especial = false
                for(var i in especiales) {
                    if(key == especiales[i]) {
                        tecla_especial = true;
                        break;
                    }
                }

                if(numeros.indexOf(tecla) == -1 && !tecla_especial)
                    return false;
            }

            function limpiaNumeros() {
                var val = document.getElementById("txtCodCarrera").value;
                var tam = val.length;
                for(i = 0; i < tam; i++) {
                    if(!isNaN(val[i]))
                        document.getElementById("txtCodCarrera").value = '';
                }
            }

        </script>
    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
		<div class="contenedor">
			<div class="titulo_admin">
				<nav class="nav_responsive">
					<a id="resp-menu" class="responsive-menu" href="#"><i class="fa fa-reorder"></i> </a>    
					<ul class="menu">
					    <li><a asp-area="" asp-controller="Home" asp-action="Administrador" class="menu_activo">Administrador</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Alumno" >Alumno</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Aula" >Aula</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Carrera">Carrera</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Conferencia">Conferencia</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Empresa">Empresa</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Evento">Evento</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Documento_expositor">Documento Expositor</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Expositor">Expositor</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Pabellon_Aula">Pabellón-Aula</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Pabellon">Pabellón</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Requisitos_Conferencia">Requisitos Conferencia</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Requisitos_Taller">Requisitos Taller</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Taller">Taller</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Tipo_Documento">Tipo de Documento</a></li>
					</ul>
				</nav>
				<h2><b>AdminLTE</b> App Visión</h2>
				<li class="usuario_responsive">
					<a href="" id="resp-user" class="resp-user"><i class="fa fa-user"></i><h3> User</h3></a>
					<div class="info_user_responsive">
						<div class="triangulo_arriba"></div>
						<h3>User</h3>
						<h4>Administrador</h4>
						<h4 class="estado"><i class="fa fa-circle verde" aria-hidden="true"></i>Online</h4>
						<div class="btn_cerrar-sesion">
						
							<i class="fa fa-sign-out"></i>
						</div>
					</div>
				</li>
			</div>
		</div>

	</header>
    <main>
		<div class="contenedor">

			<nav>
				<li class="usuario">
					<h3>User</h3>
					<h4 class="estado"><i class="fa fa-circle verde" aria-hidden="true"></i>Online</h4>
					<div class="btn_cerrar-sesion">
						
						<i class="fa fa-sign-out"></i>
					</div>
				</li>
				<li class="titulo-menu">Menú</li>
				<ul>
					<li><a asp-area="" asp-controller="Home" asp-action="Administrador" class="menu_activo">Administrador</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Alumno" >Alumno</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Aula" >Aula</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Carrera">Carrera</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Conferencia">Conferencia</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Empresa">Empresa</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Evento">Evento</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Documento_expositor">Documento Expositor</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Expositor">Expositor</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Pabellon_Aula">Pabellón-Aula</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Pabellon">Pabellón</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Requisitos_Conferencia">Requisitos Conferencia</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Requisitos_Taller">Requisitos Taller</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Taller">Taller</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Tipo_Documento">Tipo de Documento</a></li>
				</ul>
			</nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
            <!-- <hr />
            <footer>
                <p>&copy; 2018 - PROYECTO_APP_VISION_VISUAL_STUDIO</p>
            </footer> -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <!-- <script src="~/js/site.min.js" asp-append-version="true"></script> -->
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
