@model IEnumerable<PROYECTO_VISION_USMP.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

 <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.IDCarrera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomCarrera)
                </th>
            <th></th>
        </tr>
    </thead>
</table>