@model PROYECTO_VISION_USMP.Models.Aula

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <h4>Aula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDAula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDAula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescAula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescAula)
        </dd>
    </dl>

</div>