@model PROYECTO_VISION_USMP.Models.Aula

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Aula</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDAula" />
            <div class="form-group">
                <label asp-for="DescAula" class="control-label"></label>
                <input asp-for="DescAula" class="form-control" />
                <span asp-validation-for="DescAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>

</div>