			<section class="contenido">
				<div class="contenedor">
					<div class="titulo-pagina-activa">
						<h3>Documento Expositor</h3>
					</div>
					<div class="direccion-pagina">
						<ol class="dir_menu">
							<li><a href=""><i class="fa fa-tachometer" aria-hidden="true"></i>Inicio</a></li>
							<li class="active">Documento Expositor</li>
						</ol>
					</div>
					<div class="form_contenedor">
						<div class="barra_menu">
							<a href="" id="resp-form" class="resp-form"><i class="fa fa-minus"></i></a>
						</div>
						<form action="" class="formAula" name="formAula">
							
							<div class="barra_menu_desplegar" id="barra_menu_desplegar">
								<h2>Documento Expositor</h2>
								<div class="cont_form">
									<div class="cont_row">
										<label for="" class="lbl_form">Código Tipo de Documento</label>
										<select name="cboCampo" size=1 class="cboCampo"> 
											<option>TID001</option>
											<option>TID002</option>
											<option>TID003</option>
										</select>
									</div>
									<div class="cont_row">
										<label for="" class="lbl_form">Código Expositor:</label>
										<select name="cboCampo" size=1 class="cboCampo"> 
											<option>EXP001</option>
											<option>EXP002</option>
											<option>EXP003</option>
										</select>
									</div>
									<div class="cont_row">
										<label for="" class="lbl_form">Número:</label><input type="number" onkeypress="return soloNumeros(event)" onblur="limpiaNumeros()" id="numeros" maxlength="12" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);" name="txtNumero" placeholder="Número">
									</div>
									<div class="cont_btns_form">
										<input type="submit" name="btnRegistrar" value="Registrar" id="btnRegistrar" class="btnRegistrar">
										<input type="submit" name="btnModificar" value="Modificar" id="btnModificar" class="btnModificar">
										<input type="submit" name="btnEliminar" value="Eliminar" id="btnEliminar" class="btnEliminar">
									</div>
									<div class="cont_row">
										<label for="" class="lbl_form">Buscar:</label><input type="text" name="txtCriterio" placeholder="Ingrese Criterio">
									</div>
									<div class="cont_row">
										<label for="" class="lbl_form">En base a:</label>
										<select name="cboCampo" size=1 class="cboCampo"> 
											<option>IDCONFE</option>
											<option>CONFERENCIA</option>
											<option>HORA_INI</option>
											<option>HORA_FIN</option>
											<option>FECHA</option>
											<option>IDPAB</option>
											<option>IDAULA</option>
											<option>IDCARRERA</option>
											<option>IDEVENTO</option>
										</select>
									</div>
									<div class="cont_btns_form">
										<input type="submit" name="btnBuscar" value="Buscar" id="btnBuscar" class="btnBuscar">
										<input type="submit" name="btnReiniciar" value="Reiniciar" id="btnReiniciar" class="btnReiniciar">
										<input type="submit" name="btnOrdenarXID" value="Ordenar por Código" id="btnOrdenarXID" class="btnOrdenarXID">
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="cont_table">
						<table>
							<tr>
								<th>Código Tipo de Documento</th>
								<th>Código Expositor</th>
								<th>Número</th>
							</tr>
							<tr>
								<td><%=a.%></td>
								<td><%=a.%></td>
								<td><%=a.%></td>
							</tr>
						</table>
					</div>

				</div>
			</section>

		</div>

		<footer>
			<div class="contenedor">
				<div class="derechos-reservados">
					<p><i class="fa fa-copyright" aria-hidden="true"></i>Todos los Derechos Reservados</p>
				</div>
				<div class="derechos">
					<div class="escudo-usmp">
						<img src="imgs/escudo_usmp.png" alt="">
						<div class="info_derechos animated fadeInLeft">
							<div class="flecha-down"></div>
							<h5>Acosta Flores, Allison</h5>
							<h5>Campos Ortiz, Carlos</h5>
							<h5>Silva Cornejo, Marynadi</h5>
							<h5>Velásquez Herrera, Marcelo</h5>
						</div>
					</div>
					<div class="version">
						<p>Versión 1.0</p>
					</div>
				</div>
			</div>
		</footer>

	</main>