@model PROYECTO_VISION_USMP.Models.ExpTipDoc

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpTipDoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoTipoDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoTipoDocumento.IDTip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoExpositor)
        </dt>
        <dd>
       