@model IEnumerable<PROYECTO_VISION_USMP.Models.ExpTipDoc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoExpositor)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Número)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (